// Paths
$image-path: "../../img" !default;

// Colors
$Primary: #141619;
$PrimaryDark: #000000;
$PrimaryLight: #30343b;
$PrimaryLight2: #4b535e;
$PrimaryLight3: #677180;
$PrimaryLight4: #cbcfd6;
$Secondary: #37FF8B;
$SecondaryDark: #0eff73;
$SecondaryDark2: #00e35f;
$SecondaryLight: #44ff93;
$SecondaryLight2: #52ff9a;
$SecondaryLight3: #7affb2;
$Tertiary: #5E4AE3;
$Quaternary: #FC814A;
$Quinary: #F5F1ED;
