@import './shared';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $Primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: $Secondary;
}

@keyframes App-logo-spin {
  0%   {
    transform: rotate(360deg);
    height: 40vmin;
  }
  25%  {
    transform: rotate(-360deg);
    height: 20vmin;
  }
  50%  {
    transform: rotate(360deg);
    height: 40vmin;
  }
  75%  {
    transform: rotate(-360deg);
    height: 20vmin;
  }
  100% {
    transform: rotate(360deg);
    height: 40vmin;
  }
}
